// paddings

@padding-default: 5px;

// colors

@color-default: #005eb8;
@color-disabled: #bebebe;
@color-error: #f44336;

// my-alert
@alert-border-radius: 0;

@alert-error-bg-color: #ffcdd2;
@alert-error-text-color: #b71c1c;

@alert-info-bg-color: #dcedc8;
@alert-info-text-color: #33691e;

@alert-warning-bg-color: #fff59d;
@alert-warning-text-color: rgba(0, 0, 0, 0.8);

// my-checkbox

@checkbox-color: @color-default;
@checkbox-disabled-color: @color-disabled;

// my-code

@code-font-family: PTMonoRegular, serif;
@code-font-size: 12px;

// my-collapse

@collapse-header-bg-color: #e6e6e6;
@collapse-header-border-color: #d3d3d3;
@collapse-header-text-color: #000;
@collapse-header-error-bg-color: @color-error;
@collapse-header-error-border-color: @color-error;
@collapse-header-error-text-color: #fff;

@collapse-content-bg-color: #fff;
@collapse-content-border-color: #d3d3d3;
@collapse-content-text-color: #000;
@collapse-content-error-border-color: @color-error;

// my-context-menu

@context-menu-bg-color: #fff;
@context-menu-item-hover-color: #eee;
@context-menu-item-disabled-color: #bdbdbd;
@context-menu-item-disabled-hover-color: #fff;

// my-datepicker

@datepicker-bg-color: #fff;
@datepicker-text-color: #757575;

@datepicker-border-width: 1px;
@datepicker-border-color: #ccc;

@datepicker-day-hover-text-color: #000;
@datepicker-day-selected-bg-color: @color-default;

@datepicker-today-text-color: @color-default;
@datepicker-day-selected-hover-bg-color: @color-default;

// my-loading

@loading-border-width: 3px;
@loading-border-color: @color-default;

// my-menu

@menu-bg-color: #f5f5f5;
@menu-header-bg-color: #e0e0e0;
@menu-item-hover-bg-color: #d5e4f3;

// my-modal

@modal-header-default-bg-color: @color-default;
@modal-header-success-bg-color: #00a34e;
@modal-header-error-bg-color: #ce0058;

// my-overlay

@overlay-bg-color: rgba(0, 0, 0, .2);

// my-radio

@radio-color: @color-default;
@radio-color-disabled: @color-disabled;

// my-select



// my-table

@table-column-sorted: #dcedf8;
@table-cell-sorted: #edf5fb;
@table-row-selected: #e0e0e0;
@table-export-icon-margin-left: 5px;
@table-export-icon-width: 16px;
@table-search-input-width: 160px;

// my-tabs

@tabs-bg-color: #fff;

@tabs-border-bottom-width: 2px;
@tabs-border-bottom-color: #5c98d1;

@tabs-tab-bg-color: #d5e4f3;
@tabs-tab-text-color: #333;
@tabs-tab-hover-bg-color: #e9f1f9;

@tabs-tab-active-bg-color: #5c98d1;
@tabs-tab-active-text-color: #fff;
@tabs-tab-active-hover-bg-color: #5c98d1;

@tabs-tab-disabled-bg-color: #dde9f5;
@tabs-tab-disabled-text-color: @color-disabled;
@tabs-tab-disabled-hover-bg-color: #dde9f5;

@tabs-tab-error-bg-color: #e95326;
@tabs-tab-error-text-color: #fff;
@tabs-tab-error-hover-bg-color: #e95326;

// my-textedit

@textedit-bg-color: #1ab7f2;
@textedit-text-color: greenyellow;