// paddings

@padding-default: 5px;

// colors

@color-blue: #005eb8;
@color-light-blue: #00a9e0;
@color-pale-blue: #9bcaeb;
@color-grey: #d9d9d9;

@color-disabled: #bebebe;
@color-error: #f44336;
@color-hover: lighten(@color-pale-blue, 13%);

// my-alert
@alert-border-radius: 0;

@alert-error-bg-color: #ffcdd2;
@alert-error-text-color: #b71c1c;

@alert-info-bg-color: #dcedc8;
@alert-info-text-color: #33691e;

@alert-warning-bg-color: #fff59d;
@alert-warning-text-color: rgba(0, 0, 0, 0.8);

// my-checkbox

@checkbox-color: @color-grey;
@checkbox-color-checked: @color-blue;
@checkbox-color-disabled: @color-grey;

// my-code

@code-font-family: PTMonoRegular, serif;
@code-font-size: 12px;

// my-collapse

@collapse-header-bg-color: #e6e6e6;
@collapse-header-border-color: #d3d3d3;
@collapse-header-text-color: #000;
@collapse-header-error-bg-color: @color-error;
@collapse-header-error-border-color: @color-error;
@collapse-header-error-text-color: #fff;

@collapse-content-bg-color: #fff;
@collapse-content-border-color: #d3d3d3;
@collapse-content-text-color: #000;
@collapse-content-error-border-color: @color-error;

// my-context-menu

@context-menu-bg-color: #fff;
@context-menu-item-hover-color: @color-hover;
@context-menu-item-disabled-color: #bdbdbd;
@context-menu-item-disabled-hover-color: #fff;

// my-datepicker

@datepicker-bg-color: #fff;
@datepicker-text-color: #757575;

@datepicker-border-width: 1px;
@datepicker-border-color: #ccc;

@datepicker-day-hover-text-color: #000;
@datepicker-day-selected-bg-color: @color-blue;

@datepicker-today-text-color: @color-blue;
@datepicker-day-selected-hover-bg-color: @color-blue;

// my-loading

@loading-border-width: 2px;
@loading-border-color: @color-blue;

// my-menu

@menu-bg-color: #fafafa;
@menu-header-bg-color: #e8e8e8;
@menu-item-hover-bg-color: @color-hover;

// my-modal

@modal-header-default-bg-color: @color-blue;
@modal-header-success-bg-color: #00a34e;
@modal-header-error-bg-color: #ce0058;

// my-overlay

@overlay-bg-color: rgba(0, 0, 0, .2);

// my-radio

@radio-color: @color-grey;
@radio-color-checked: @color-blue;
@radio-color-disabled: @color-grey;

// my-select
@select-bg-color: #fff;

@select-border-width: 1px;
@select-border-color: #ccc;

@select-item-hover-bg-color: #d5e4f3;
@select-item-selected-bg-color: #eee;

// my-table

@table-cell-sorted: lighten(@color-pale-blue, 20%);
@table-column-sorted: lighten(@color-pale-blue, 15%);
@table-current-page-bg-color: @color-blue;
@table-current-page-color: #fff;
@table-export-icon-margin-left: 5px;
@table-export-icon-width: 16px;
@table-row-selected: #e8e8e8;
@table-search-input-width: 160px;

// my-tabs

@tabs-bg-color: #fff;

@tabs-border-bottom-width: 2px;
@tabs-border-bottom-color: @color-light-blue;

@tabs-tab-bg-color: lighten(@color-pale-blue, 15%);
@tabs-tab-text-color: #333;
@tabs-tab-hover-bg-color: @color-hover;

@tabs-tab-active-bg-color: @color-light-blue;
@tabs-tab-active-text-color: #fff;
@tabs-tab-active-hover-bg-color: @color-light-blue;

@tabs-tab-disabled-bg-color: #dde9f5;
@tabs-tab-disabled-text-color: @color-disabled;
@tabs-tab-disabled-hover-bg-color: #dde9f5;

@tabs-tab-error-bg-color: #e95326;
@tabs-tab-error-text-color: #fff;
@tabs-tab-error-hover-bg-color: #e95326;

// my-textedit

@textedit-bg-color: #1ab7f2;
@textedit-text-color: greenyellow;