.my-alert {
  align-items: center;
  border-radius: @alert-border-radius;
  box-sizing: border-box;
  display: flex;
  padding: 10px;

  &__icon {
    margin-right: 5px;
  }

  &__content {
    align-items: center;
    display: inline-flex;
    height: 24px;
    vertical-align: middle;
  }

  &__close {
    margin-left: 10px;
  }

  &--info {
    .my-alert-custom(@alert-info-text-color, @alert-info-bg-color);
  }

  &--warning {
    .my-alert-custom(@alert-warning-text-color, @alert-warning-bg-color);
  }

  &--error {
    .my-alert-custom(@alert-error-text-color, @alert-error-bg-color);
  }
}