.my-alert {
  align-items: center;
  border-radius: @alert-border-radius;
  box-sizing: border-box;
  display: flex;
  padding: 8px 10px 8px 10px;

  &__icon {
    cursor: default !important;
    margin-right: 10px;
  }

  &__message {
    line-height: 1.5;
  }

  &__close {
    margin-left: 10px;
  }

  &--info {
    .my-alert-custom(@alert-info-text-color, @alert-info-bg-color);
  }

  &--warning {
    .my-alert-custom(@alert-warning-text-color, @alert-warning-bg-color);
  }

  &--error {
    .my-alert-custom(@alert-error-text-color, @alert-error-bg-color);
  }
}