.my-context-menu {
  background-color: @context-menu-bg-color;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  cursor: default;
  padding: 4px 0 4px 0;
  position: absolute;
  text-align: left;
  z-index: 1003;

  &__item {
    background: none;
    box-sizing: border-box;
    cursor: pointer;
    height: 24px;
    line-height: 24px;
    list-style: none outside none;
    margin: 0;
    padding-left: 24px;
    padding-right: 24px;
    white-space: nowrap;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: @context-menu-item-hover-color;
      cursor: pointer;
    }

    &--disabled {
      color: @context-menu-item-disabled-color;
      cursor: default;

      &:hover {
        background-color: @context-menu-item-disabled-hover-color;
        cursor: default;
      }
    }

    &--with-separator {
      border-bottom: 1px solid rgba(0, 0, 0, .12);
    }
  }
}