.my-datepicker {
  display: inline-flex;
  position: relative;

  &__element {
    align-items: center;
    display: inline-flex;
  }

  &__input {
    box-sizing: border-box;
    width: 80px;

    &--time {
      width: 115px;
    }
  }

  &__icon {
    cursor: pointer;
  }

  &__calendar {
    -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    background-color: @datepicker-bg-color;
    border: @datepicker-border-width solid @datepicker-border-color;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    box-sizing: border-box;
    display: block;
    padding: 4px;
    position: absolute;
    z-index: 9999;
  }

  &__nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__table {
    margin-top: 5px;

    & thead {
      font-weight: bold;
    }

    & thead tr > td,
    & thead tr > td:first-child,
    & tbody tr > td,
    & tbody tr > td:first-child {
      background: none;
      border: none;
      color: @datepicker-text-color;
      padding: 4px 8px;
      text-align: center;
      text-decoration: none;
    }
  }

  &__time {
    align-items: center;
    display: flex;
    justify-content: center;

    & > span {
      font-weight: bold;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  &__subheader {
    background-color: #e0e0e0;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 4px;
    text-align: center;
  }

  &__save {
    margin-top: 5px;
    width: 100%;
  }

  &__previous,
  &__next {
    cursor: pointer;
    display: inline-block;
    height: 24px;
    width: 24px;
  }

  &__select {
    width: 90px;
  }

  &__day {
    cursor: pointer;

    &:hover {
      color: @datepicker-day-hover-text-color;
    }

    &--today {
      color: @datepicker-today-text-color !important;
    }

    &--selected {
      background-color: @datepicker-day-selected-bg-color !important;
      color: #fff !important;

      &:hover {
        background-color: @datepicker-day-selected-hover-bg-color;
      }
    }
  }
}