.my-table {
  position: relative;

  &--auto-width {
    display: inline-block;
  }

  &__wrapper {
    overflow-x: auto;
    width: auto;
  }

  &__fixed-header {
    position: relative;
    z-index: 2;

    & table {
      & thead {
        & td, th {
          box-sizing: border-box;
          cursor: pointer;
        }
      }
    }
  }

  &__column {
    &--sorted {
      background-color: @table-column-sorted !important;

      &-asc {
        background-image: url(@image-sorted-asc) !important;
      }

      &-desc {
        background-image: url(@image-sorted-desc) !important;
      }
    }

    &--multi {
      background: url(@image-sortable) no-repeat center right;
      padding-right: 24px !important;
    }

    &--not-sortable {
      background-image: none;
      cursor: default !important;
      padding-right: 5px !important;
    }
  }

  &__row {
    &--selected {
      & td {
        background-color: @table-row-selected;
      }
    }
  }

  &__cell {
    &--sorted {
      background-color: @table-cell-sorted;
    }
  }

  &__table {
    overflow-x: hidden;
    overflow-y: auto;

    & table {
      width: 100%;

      & thead {
        & td, th {
          box-sizing: border-box;
        }
      }
    }
  }

  & p {
    margin-top: 0;
  }

  &__pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__pagination-range {
    padding-left: @padding-default;
    padding-right: @padding-default;
  }

  &__page {
    cursor: pointer;
    padding: 5px;

    &--current {
      background-color: @table-current-page-bg-color;
      color: @table-current-page-color;
    }
  }

  &__action-bar {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
  }

  &__action-bar-container {
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    cursor: default;
    display: inline-flex;
    justify-content: center;
    min-width: @table-search-input-width + @table-export-icon-width + @table-export-icon-margin-left;
    padding: 5px;
    position: absolute;
    z-index: 9998;
  }

  &__action-bar-icon {
    position: absolute;
    z-index: 9997;
  }

  &__excel {
    margin-left: @table-export-icon-margin-left;
  }

  &__search {
    & input {
      width: @table-search-input-width;
    }
  }
}